body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 1.5vw;
    background-color: antiquewhite;
}


#logo {
    margin: 0px ;
    padding: 8px;
    font-family: "Merriweather", "sans-serif";
    font-size: 20px
    width: 16%;
    border-radius: 20%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px 01px 0px black,
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #32BF84;
    color: #CAFFFB;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around 
}

#nav-ul {
    display: flex;
}

#nav > li {
    padding: 8px;
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: #CAFFFB;
    text-decoration: none;
    padding: 12px;
    border: 1px  white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}



form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color:#32BF84;
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
    color: white;
    text-decoration: none;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}


footer > h2 {
    color: #CAFFFB;
}
